*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #151F2C;
}

header{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}



form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #ffff;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 500px;
  font-family: sans-serif;
  margin-top: 50px;

}


.label {
  align-self: flex-start;
  color: #ffff;
  font-weight: 600;
}

input[type=text],
  form input[type="password"], select {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  outline: 2px solid var(--bg-dark);
  color: #ffffff;
  }

  input[type=text]:focus,
  form input[type="password"]:focus {
    outline: 2px solid var(--clr);
    color: #efefef;
  }


  input[type=submit] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a{
    color: #ffffff;
  }
  input[type=submit]:hover {
    background-color: #3A22A1;
  }
  
