* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --ligth-grey: #f7f9f9;
  --light-blue: #1da1f2;
}

body {
  background-color: var(--white);
  height: 90%;
}

/* HEADER  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-bottom: 32px;
    padding: 12px;
}

a{
  text-decoration: none;
}

.sign{
  display: flex;
  gap: 8px;
}

.sign button{
  padding: 10px 0;
  width: 100px;
  border: 3px solid #000000;
  border-radius: 30px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

.sign a{
  color: #000;
  text-decoration: none;
}

.sign a:hover{
  color: #ffffff;
  text-decoration: none;
}

.sign button:hover{
  background-color: #000000;
  color: #fff;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo  {
  width: 50px;
  height: 50px;
}

.img-content img{
  height: 100%;
  width: 100%;
}

a {
  color: var(--light-blue);
}

/* FIM DO HEADER */

/* POST  */

.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.post{
  border: #EFF3F4 1px solid;
  width:600px ;
  border-radius: 30px;
  padding: 20px 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, #EFF3F4 0px 0px 0px 1px;
}

/* HEADER POST  */

.header-post{
  padding: 12px 0;
}

.header-post ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

#text-content {
  font-size: 18px;
  font-weight:500;
}


#name{
  font-size: 26px;
}

.img-content{
  width: 498px;
  height: 434px;
  background-color: gray;
  border-radius: 30px;
}

#avatar-align{
  display: flex;
  align-items: center;
  gap: 14px;
}

#avatar {
  height: 60px;
  width: 60px;
}

#tres-pontos{
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

/*  FIM DO POST  */

.actions {
  height: 50px;
  width: 498px;
}
.button {
  text-decoration: none;
  border: none;
  background-color: white;
  height: 30px;
}
.actions img {
  height: 45px;
  width: 45px;
} 

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  margin-top: 18px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, #dee1e2 0px 0px 0px 1px;
}

.footer-btns button {
  margin: 0 5px ;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
 }


 .left {
  display: flex;
  gap: 8px;
}

.left img {
  width: 30px;
  margin-top: 8px;
}