* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --light-grey: #f7f9f9;
  --light-blue: #1da1f2;
  --dark-blue: #1a91da;
  --black: #000000;
  --grey: #888888;
}

body {
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header .logo img {
  width: 50px;
  height: 50px;
}

header a {
  color: var(--light-blue);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
}

.container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.bemvindo {
  background-color: var(--black);
  color: var(--light-grey);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: 600px;
}

.bemvindo h1 {
  font-size: 2em;
  font-weight: bold;
}

.bemvindo p {
  color: var(--light-grey);
  font-size: 1em;
}

.bemvindo a {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--light-blue);
  color: var(--white);
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.bemvindo a:hover {
  background-color: var(--dark-blue);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 40px;
  gap: 16px;
  width: 400px;
  
}

form .logo img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

form #label-principal {
  color: var(--black);
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--black);
  font-weight: 600;
}

form input[type="email"],
form input[type="password"] {
  padding: 15px 10px;
  width: 100%;
  background-color: var(--light-grey);
  border: none;
  border-radius: 4px;
  outline: none;
  transition: outline 0.3s;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: 2px solid var(--light-blue);
}

form #submit {
  padding: 15px 0;
  width: 100%;
  border-radius: 32px;
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-top: 30px;
}

form #submit:hover {
  background-color: var(--dark-blue);
}

.span {
  font-weight: bold;
  color: var(--black);
}

.span a {
  color: var(--light-blue);
  text-decoration: none;
  padding-left: 5px;
}

.span a:hover {
  text-decoration: underline;
}
