*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body{
    background-color: #151F2C;
}

  header{
    color: #efefef;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  main{
    display: flex;
    align-items: center;
    justify-content: center;
  }

form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #ffff;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 500px;
    font-family: sans-serif;
    margin-top: 50px;

  }
  
  #formlogin .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  form input[type="email"],
  form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    outline: 2px solid var(--bg-dark);
  }
  
  form input[type="email"]:focus,
  form input[type="password"]:focus {
    outline: 2px solid var(--clr);
    color: #efefef;
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }
  
  form #submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
  }
  
  form #submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--clr);
  }